@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --swiper-theme-color: #444444;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.floating-button {
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: #25d366; /* Color de fondo de WhatsApp */
  color: #fff; /* Color del texto */
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.whatsapp-icon {
  width: 24px;
  height: 24px;
}

body {
  color: black;
  background: white;
}
.no-select {
  user-select: none;
}
.pagination {
  --swiper-theme-color: #444444;
}
.pagination::after {
  --swiper-theme-color: #444444;
}
.swipperBtnNext {
  font-size: 5px;
  width: 64px !important;
  height: 64px !important;
  background-color: #ffffff7a;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 19%);
  right: -25px !important;
  margin-right: 10%;
}
.swipperBtnNext:hover {
  filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.14));
}
.swipperBtnPrev:hover {
  filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.14));
}
.swipperBtnNext::after {
  font-size: 22px !important;
  color: black;
}
.swipperBtnPrev {
  font-size: 5px;
  width: 64px !important;
  height: 64px !important;
  background-color: #ffffff7a;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 19%);
  left: -25px !important;
  margin-left: 10%;
}
.swipperBtnPrev::after {
  font-size: 22px !important;
  color: black;
}

.swipper {
  position: static !important;
}

.containerSwiper {
  position: relative;
}
.swiper-pagination-bullet-active {
  background: #ffd900 !important;
}
